html {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}

* {
    box-sizing: inherit;
}

body {
    background: rgb(14, 14, 14);
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-size: 2rem;
    font-family: "Ubuntu";
    letter-spacing: 0.05em;
}

header img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    text-decoration: none;
}

.navbar {
    display: flex;
    width: 100%;
    justify-content: center;
    background: #316579;
    position: sticky;
    top: 0;
    z-index: 999;
    color: lightgoldenrodyellow;
    padding: 0.3em;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.582);
}

.navbar__ul {
    display: flex;
    width: 50%;
    justify-content: space-around;
    margin: 0.25em;

    list-style-type: none;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 125px auto 125px;
    grid-template-areas:
        "h h h h h h h h h h h h"
        "c c c c c c c c c c c c"
        "f f f f f f f f f f f f";
    color: white;
    height: 100vh;
}

.grid-item-1 {
    grid-area: h;
    background: rgba(25, 25, 25, 0.75);
}

.header {
    display: flex;
    justify-content: center;
    background: rgb(7, 7, 7);
}

.header__logo {
    height: 100%;
    width: 100px;
    background: rgb(7, 7, 7);
}

.header__logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.grid-item-2 {
    grid-area: c;
    height: 100%;
    background: linear-gradient(rgb(0, 0, 0), rgba(10, 10, 10, 0.877)),
        url(images/carbonfiber.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

/* .recent-post__h1 {
   
    width: auto;
    position: relative;
    top: 62px;
    left: -201px;
    margin-top: 1.5em;
    font-size: 6.2rem;
    background: rgb(22, 22, 22);
    padding: 0.25em 0.5em 0.7em 0.5em;
    border-radius: 15px;
    z-index: 0;
} */

.recent-posts {
    /* outline: solid blue 3px; */
    width: 100%;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.newest-post {
    margin-top: 3em;
}

.newest-post,
.card-preview {
    /* outline: solid rgba(75, 75, 70, 0.596) 3px; */
    max-width: 75ch;
    padding: 2em;
    background: rgba(33, 33, 33);
    border-radius: 5px;

    box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.438);
}

.newest-post,
.card-preview {
    margin-bottom: 4em;
}

.newest-post iframe,
.card-preview iframe {
    width: 95%;
}

.newest-post__h2,
.card-preview__h2 {
    font-size: 4rem;
    margin: 0 0 1em 0;
}

.recent-posts p {
    line-height: 1.6;
    font-size: 2.2rem;
}

blockquote {
    line-height: 1.4;
    font-size: 2rem;
    background: rgba(0, 0, 0, 0.582);
    padding: 1em;
}

.grid-item-3 {
    grid-area: f;

    background: rgba(33, 33, 33, 0.5);
}

.newest-post__hidden {
    display: none;
}

.newest-post__hidden.show {
    display: block;
}

#newest-post__button {
    cursor: pointer;
    color: #3282a1;
    text-align: center;
}

#newest-post__button a {
    color: #3282a1;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
