/* ===============
                                                               

                                                             1/HEADER - grid area: h

                                                             2/MAIN CONTENT - grid area: c
                                                                a) nav
                                                                b) sidebar
                                                                c) main content
                                                             
                                                             3/FOOTER - grid area: f

                                                             4/ANIMATIONS
                                                            -------------------
                                                             5/MEDIA QUERIES
                                                            -------------------
                                                             6/LIGHT THEME

                                                             404 PAGE

                                                            =================*/

:root {
    --clr-primary: #3282a1;
    --clr-accent: #316579;
    --clr-nav: #0b1f25;
    --clr-links: lightgoldenrodyellow;
    --clr-links-secondary: lightskyblue;
    --clr-dark: rgb(33,33,33);
}

html {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
   
}

* {
    box-sizing: inherit;
}

body {
    background-color:black;
 
    
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-size: 2rem;
    font-family: "Ubuntu", sans-serif;
    letter-spacing: 0.05em;
}

a {
    text-decoration: none;
    font-size:1.6rem;
}

p {
    /* text-indent: 1.5em; */
    line-height: 2;
    font-size: 1.6rem;
    margin: 1em 0 1em 0;
}


h1,
h2,
h3 {
    margin:0;
    font-weight: 800;
}

h3 {
    
    
    font-size: 1.8rem;

   
}

blockquote {
    line-height: 1.4;
    font-size: 2rem;
    font-style: italic;
    background: rgba(0, 0, 0, 0.582);
    padding: 1em;
    margin:0;
    animation: fadeIn 3s;
}



  
  /* this is the main grid that defines the header / main body / footer */
  .grid-container {
    height:100%;
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px auto 100px;
  }
/* this are the grid items */
  .grid-container__header {
    /* background: linear-gradient(
        rgba(0, 0, 0, 0.712),
        rgba(10, 10, 10, 0.877)
    ),
    url(images/carbonfiber.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed; */
    display: flex;
    justify-content: center;
    
  }
  
  .grid-container__main-content {
    background: linear-gradient(
        rgba(0, 0, 0, 0.904),
        rgba(10, 10, 10, 0.925)
    ),
    url(images/carbonfiber.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
  }
  
  .grid-container__footer {
    background:var(--clr-nav);
  }
  

  
  /* this is the main area that holds the navbar / sidebar / main article */
  .grid-container__main-content {
    width:100%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    /* this makes all the text white */
    color:white;
  }





                                                /* /////////////
                                                    HEADER
                                                ///////////// */
 

.header__logo {
    height: 100%;
    width: 100px;
}

.header__logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}






                                                    /*////////// 
                                                       navbar
                                                    //////////*/
 
 /* this provides a background place holder after the hamburger is clicked and the navbar moves */
.nav-wrap {
     width:100%;
     height:37px;
     background:var(--clr-nav);
     position:sticky;
     z-index:999;
     top:0;
 }

  .sticky-nav{
    grid-area: n;
    display: flex;
    width: 100%;
    justify-content: center;
    background: var(--clr-nav);
    position: sticky;
    top: 0;
    z-index: 999;
    padding: 0.3em;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.616);
    /* transition: 0.5s; */
}

#hamburger {
    display: none;
}

/* this moves the theme icon to the left side of the navbar on desktop */
.theme {
    position: absolute;
    z-index: 999;
    left:50px;
}

.navbar__ul {
    display: flex;
    width: 800px;
    justify-content: space-around;
    align-items: center;
    margin: 0.25em;
    padding: 0;
    list-style-type: none;
}

/* these are the IDs for the theme/mode icon */
#modeToggleDesktop {
    color: var(--clr-links-secondary);
    cursor: pointer;
    transition: 1s;
}

#modeToggleDesktop.light-theme {
    color: var(--clr-links);
    transform: rotate(180deg);
}

.navbar__ul a {
    color: var(--clr-links);
    transition: 0.5s;
}

.navbar__ul a:hover {
    color: rgb(179, 65, 255);
}



  
/* main content grid */

.main-content__grid {
    display:grid;
    grid-template-columns: minmax(200px, 250px) minmax(500px, 700px);
    grid-template-rows: 1fr;
    grid-template-areas: "s a";
    /* background:var(--clr-dark); */
    width:auto; 
    margin:1em;
    grid-gap:.25em;
  }
  
  .main-content__sidebar {
    grid-area: s;
    background:var(--clr-dark);
    padding:0 1em 1em 1em;
  /*   display:flex;
    flex-direction:column; */
    
  }
  
  .sidebar__itemWrap {
    /* background:rgba(33,33,33,.5); */
    display:flex;
    flex-direction:column;
    position:sticky;
    top:2em;
  }
  
  .sidebar__item {
    height:200px;
    width:100%;
    background:var(--clr-nav);
    margin-top:1em;
   
  }


                                                 /* /////////////
                                                     MAIN CONTENT
                                                   ////////////// */

.newest-post {
    height: 100%;
    width: 70ch;
    background: rgb(33, 33, 33);
    padding: 3em;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.589);
    border-radius: 5px;
}

.newest-post__p {
    margin-top: 1em;
}

/* sticky navbar for desktop*/

#sticky-navbar {
    display: flex;
}

/* #mobile-navbar {
    display: none;
} */

.newest-post__h2 {
    font-size: 3.5rem;
    margin: 0 0 0.5em 0;
}

.newest-post__h3 {
    color: var(--clr-primary);
}

/* .newest-post iframe {
    width: 100%;
    
   
} */


/* this is the read more button that expands the newest post if clicked */
#newest-post__button {
    cursor: pointer;
    border: solid var(--clr-primary) 2px;
    text-align: center;
    padding: 0.5em;
    border-radius: 999px;
    text-decoration: none;
    color: var(--clr-primary);
    transition: 0.25s;
    display: flex;
    justify-content: center;
    width: 100%;
    margin: auto;
}

#newest-post__button:hover {
    color: white;

    background: var(--clr-primary);
}

/* when the "read more" button is clicked, the .show class is toggled on or off */
.newest-post--hidden {
    display: none;
}

.newest-post--hidden.show {
    display: block;
}

.newest-post--hidden.show p {
    animation: fadeIn 3s;
}

/* this is the link at the bottom of the newest post that closes the article and sends you to top of page */
#backToTop {
    display: none;
    cursor: pointer;

    text-align: center;
    padding: 0.25em;
    border-radius: 999px;
    text-decoration: none;
    color: #3282a1;
    transition: 0.25s;

    justify-content: center;
    width: 19%;
    margin: auto;
}

#backToTop:hover {
    color: white;
}
  
  
  
  .main-content__article {
    grid-area: a;
    background:var(--clr-dark);
    padding:1em;
    
    
  }

  .main-content__article iframe {
      margin-top:1em;
  }
  
  
  
  .article__content p {
    max-width:75ch;
  }


                                            /* //////////
                                                FOOTER
                                             /////////// */

.grid-container__footer {
    align-items: center;
    justify-content: center;
    display: flex;
}

.footer__content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    width: 225px;
}

i {
    color: white;
    /* transform: scale(200%); */
    transition: 0.25s;
}

i:hover {
    /* transform: scale(230%); */
    color: var(--clr-primary);
}
  
  

  
  @media only screen and (max-width:900px) {
    .main-content__grid {
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: "a"
                         "s";
    background:none;
    margin:1em;
    grid-gap:.5em;
  
  }

  .main-content__article iframe {
    /* height: 200px; */
    width:100%;
    
}



    
    .sidebar__itemWrap {
    background:rgba(33,33,33,.5);
    display:flex;
    flex-direction:row;
  
      align-items:center;
      justify-content:space-between;
      
    
  }
    
    .sidebar__item {
    height:200px;
    width:200px;
    background:var(--clr-nav);
    margin:.5em;
    }




    /* import */
    .sticky-nav {
        display: flex;
        width: 100%;
        justify-content: flex-start;
        position:sticky;

        z-index: 999;
        color: var(--clr-links);
        padding: 0.1em;
        /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.644); */
       
        /* transition: 0.5s; */
    }

    .main-grid {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        grid-template-areas:
            "a"
            "s";
        grid-gap: 2em;
    }

    .newest-post {
        width: 85%;
        margin: 0;
    }

    .sidebar__item-wrap {
        width: 100%;
        padding: 1em;
        display: flex;
        flex-direction: row;
    }

    .sidebar__item {
        margin: 0.5em;
    }

    .main__sidebar-wrap {
        width: 85%;
        border-radius: 5px;
    }

    .post-container {
        justify-content: center;
    }



    /* this moves the theme picker icon back into the normal document flow */
    .theme {
        position: initial;
    }

    .newest-post {
        padding: 1em;
    }

    /* this is the navbar for mobile that gets revealed when switching to mobile sizes */
    .navbar__ul.reveal {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin-right: 1.5em;
        text-align: center;
    }

    .navbar__ul {
        display: none;
        height: 70%;
        margin-top: 5em;
    }

    #sticky-navbar.reveal {
        /* this keeps the sidebar in place when revealed */
        position: fixed;
        width: 300px;
        height: 100%;
        top: 0;
        left: 0;
        display: flex;
        animation: slideIn 0.25s;
    }

    #hamburger.reveal {
        top: 45px;
        right: -225px;
        height: 50px;
        color: white;
    }

    /* hamburger is revealed */
    /* #hamburger {
        display: block;
        position: relative;
        color: white;
        right: 0;
        cursor: pointer;
    } */

    #hamburger {
        display: block;
        position: relative;
        color: white;
        padding: 0.25em;
        cursor: pointer;
    }

    .darken {
        background: rgba(0, 0, 0, 0.65);
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 2;
        animation: fadeIn 0.5s;
        height: 100%;
        width: 100%;
    }

    #backToTop {
        margin: initial;
        width: 100%;
    }
   
  }
  
    
  
  
  @media only screen and (max-width:750px) {
    .sidebar__itemWrap {
       flex-direction:column;
    }
    
    .sidebar__item {
        height:200px;
        width:100%;
        margin:.5em;
    
  }
    .main-content__grid {
        margin:0;
    }

    .main-content__article {
        margin-top: 0;
        padding: 0.75em;
    }
    .newest-post__h2 {
        font-size: 2.2rem;
        margin: 1em 0 0.5em 0;
    }

 
    blockquote {
        font-size: 1.5rem;
        margin: 0.5em;
    }



    .grid-container__header {
        background: linear-gradient(
            rgba(0, 0, 0, 0.712),
            rgba(10, 10, 10, 0.877)
        ),
        url(images/carbonfiber.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;


    }

  }

  /*========= 
                                                                   animations 
                                                                 =============*/

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        left: -300px;
    }
    to {
        left: 0;
    }
}